@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0F1421;
}

[data-theme='dark'] {
  --background: #000000;
  --foreground: white;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




.cls-1 {
  stroke-width: 0px;
  
}

.cls-2 {
  stroke-width: 3px;
 
}

.cls-2, .cls-3 {
  fill: none;
  
  stroke-miterlimit: 10;
}

.cls-3 {
  stroke-width: 2px;

}


.rtl {
  direction: rtl;
  text-align: right;
}